@model UnchurisApp.Models.Advertisement
@{
    ViewBag.Title = "Edit Advertisement";
}

<h2>Advertisement</h2>

@section LeftPanel {
    @using (var frm = Html.BeginForm("Edit", "Advertisement", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.AuthorId);
        @Html.HiddenFor(m => m.Image);
        @Html.HiddenFor(m => m.DateCreated);
        <div>
            @Html.EditorFor(model => model.Title)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div>
            @Html.TextAreaFor(model => model.Text, new { @class = "advertisementText" })
        </div>
        @Html.Raw("<img style='width:600px; height:400px;' src=\"data:image/jpeg;base64,"
                                 + Convert.ToBase64String(@Model.Image) + "\" />")
        <div class="editor-label">Загрузить другое изображение</div>
        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>
        <div>
            <input type="submit" value="Save" />
        </div>
    }
}