@model UnchurisApp.Models.Advertisement

<div class="advertisementWrapper">
    <img class="avatar" src="http://www.gravatar.com/avatar/@Model.Author.Profile.GetEmailHash()">
    <div class="name">
        @Html.RouteLink(Model.Author.Profile.Name, "UserDefault", new { controller = "user", username = Model.Author.Username, action = "index" })
    </div> @@@Model.Author.Username <span class="time">@Model.FriendlyTimestamp()</span>
    <p>
        @Model.Title
        @Model.Text
        @Html.Raw("<img style='width:600px; height:400px;' src=\"data:image/jpeg;base64,"
                             + Convert.ToBase64String(@Model.Image) + "\" />")
    </p>
</div>