@model UnchurisApp.ViewModel.CreateAdvertisementViewModel

<h1>Create a Advertisements</h1>

@if (!ViewData.ModelState.IsValid) {
<div class="flash error">
    @Html.ValidationMessageFor(m => m.Text)
</div>
}

<p>
    @using (Html.BeginForm("index", "home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary(true)
    <div>
        @Html.EditorFor(model => model.Title)
    </div>
    <div>
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div>
        @Html.TextAreaFor(model => model.Text, new { @class = "advertisementText" })
    </div>
    <div class="editor-label">Прикрепить изображение</div>
    <div class="editor-field">
        <input type="file" name="uploadImage" />
    </div>
    <div>
        <input type="submit" value="Advertisement!" />
    </div>
    }

</p>